/*******************************************************************/
/* Linker Script for MicroBlaze Standalone Application             */
/*******************************************************************/

_STACK_SIZE = DEFINED(_STACK_SIZE) ? _STACK_SIZE : 0x4000;
_HEAP_SIZE = DEFINED(_HEAP_SIZE) ? _HEAP_SIZE : 0x2000;

MEMORY
{
{{MEMORY_REGIONS}}
}

ENTRY(_start)

SECTIONS
{
.vectors.reset 0x00000000 : {
   KEEP (*(.vectors.reset))
}

.vectors.sw_exception 0x00000008 : {
   KEEP (*(.vectors.sw_exception))
}

.vectors.interrupt 0x00000010 : {
   KEEP (*(.vectors.interrupt))
}

.vectors.hw_exception 0x00000020 : {
   KEEP (*(.vectors.hw_exception))
}

.text : {
   *(.text)
   *(.text.*)
   *(.gnu.linkonce.t.*)
} > {{DEFAULT_MEMORY_REGION}}

.init : {
   KEEP (*(.init))
} > {{DEFAULT_MEMORY_REGION}}

.fini : {
   KEEP (*(.fini))
} > {{DEFAULT_MEMORY_REGION}}

.rodata : {
   __rodata_start = .;
   *(.rodata)
   *(.rodata.*)
   *(.gnu.linkonce.r.*)
   __rodata_end = .;
} > {{DEFAULT_MEMORY_REGION}}

.data : {
   __data_start = .;
   *(.data)
   *(.data.*)
   *(.gnu.linkonce.d.*)
   __data_end = .;
} > {{DEFAULT_MEMORY_REGION}}

.bss (NOLOAD) : {
   . = ALIGN(4);
   __bss_start__ = .;
   __bss_start = .;
   *(.bss)
   *(.bss.*)
   *(.gnu.linkonce.b.*)
   *(COMMON)
   . = ALIGN(4);
   __bss_end__ = .;
   __bss_end = .;
} > {{DEFAULT_MEMORY_REGION}}

.heap (NOLOAD) : {
   . = ALIGN(16);
   _heap = .;
   HeapBase = .;
   _heap_start = .;
   . += _HEAP_SIZE;
   _heap_end = .;
   HeapLimit = .;
} > {{DEFAULT_MEMORY_REGION}}

.stack (NOLOAD) : {
   _stack_end = .;
   . += _STACK_SIZE;
   . = ALIGN(16);
   _stack = .;
   __stack = _stack;
} > {{DEFAULT_MEMORY_REGION}}

_end = .;
}
